<div class="w-full h-auto justify-center items-center">
  <div class="relative">
    <!-- Logo en la esquina superior izquierda -->
    <img class="w-24 ml-2 absolute top-0 left-4" src="../../../../assets/landing/logo.png" />
  
    <!-- Imagen principal -->
    <div class="w-full md:w-[48rem] lg:w-[70.875rem] h-full md:h-[31.25rem] lg:h-[47.2375rem] relative">
      <img class="w-full h-full" [src]="currentImage" />
    </div>
  </div>
</div>

<div class="container">
  <div class="content p-10">
    <span class="text-emerald-700 text-base font-bold font-['Montserrat']">Líder en soluciones de pago integradas en Venezuela.</span>
    <span class="text-neutral-500 text-base font-normal font-['Montserrat']"> Nos especializamos en el</span>
    <span class="text-emerald-700 text-base font-bold font-['Montserrat']"> diseño y comercialización</span>
    <span class="text-neutral-500 text-base font-normal font-['Montserrat']"> de herramientas innovadoras que facilitan las transacciones financieras,</span>
    <span class="text-emerald-700 text-base font-bold font-['Montserrat']"> adaptándose a las necesidades de cada negocio.</span>
  </div>
</div>
<div class="w-full h-2.5 bg-gradient-to-r from-neutral-50 via-lime-600 to-emerald-800"></div>
<div class="w-full h-auto pt-0.5 pb-6 bg-neutral-50 flex flex-col justify-start items-center gap-8">
  <div class="w-[80%] h-6 relative">
      <div class="left-[81px] top-0 absolute text-right text-neutral-50/opacity-20 text-3xl font-bold font-['Montserrat'] tracking-[4.71px]" style="background-image: linear-gradient(to right, rgba(250, 250, 250, 0.8), rgba(81, 174, 50, 0.3), rgba(2, 132, 85, 0.4)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">CONDICIONES</div>
      <div class="left-0 top-[4px] absolute text-emerald-800 text-2xl font-semibold font-['Montserrat']">Términos y condiciones</div>
  </div>
</div>
<!-- <div class="w-full max-w-md lg:max-w-lg flex-col justify-start items-center gap-4 inline-flex p-4 md:p-8 lg:p-12">
  <div class="text-lime-600 text-base font-bold font-['Montserrat']">Subtitulo</div>
  <div class="w-full text-center text-black text-sm md:text-base lg:text-lg font-normal font-['Montserrat']">
    Lorem ipsum dolor sit amet consectetur. Consectetur sit viverra pretium eget elementum. In diam fames integer velit congue integer massa urna neque. Aliquam tempus pharetra massa morbi in volutpat. Sed nunc ullamcorper ipsum bibendum auctor hac neque potenti. Sit consequat non nunc elementum varius pellentesque purus. In pellentesque lobortis bibendum sem neque tincidunt tincidunt nisi imperdiet. Ultrices placerat egestas.
  </div>
  <div class="w-full h-52 md:h-64 lg:h-72 bg-zinc-300 rounded-lg"></div>
  <div class="w-full text-center text-black text-sm md:text-base lg:text-lg font-normal font-['Montserrat']">
    Lorem ipsum dolor sit amet consectetur. Consectetur sit viverra pretium eget elementum. In diam fames integer velit congue integer massa urna neque. Aliquam tempus pharetra massa morbi in volutpat. Sed nunc ullamcorper ipsum bibendum auctor hac neque potenti. Sit consequat non nunc elementum varius pellentesque purus. In pellentesque lobortis bibendum sem neque tincidunt tincidunt nisi imperdiet. Ultrices placerat egestas.
  </div>
</div> -->

<div class="w-full max-w-4xl mx-auto p-4 md:p-8 lg:p-12">
  <h1 class="text-emerald-700 text-2xl md:text-3xl font-bold font-['Montserrat'] text-center">Política de privacidad</h1>
  <p class="text-neutral-500 text-sm md:text-base lg:text-lg font-normal font-['Montserrat'] text-center">Última actualización el 01-May-2024</p>
  <p class="text-neutral-500 text-sm md:text-base lg:text-lg font-normal font-['Montserrat'] text-center mb-8">Fecha de entrada en vigor el 01-May-2024</p>

  <div class="text-black text-sm md:text-base lg:text-lg font-normal font-['Montserrat']">
    <p>Esta Política de privacidad describe las políticas de Soluciones MovilPay C.A., AV CARLOS SOUBLETTE EDIF PARCELAS 95 Y 96 PISO 4 OF 1 URB MIRAMAR, Edo. La Guaira, Venezuela 1161, Venezuela, correo electrónico: info@movilpayve.com, teléfono: +582127719076 sobre la recopilación, uso y divulgación de su información que recopilamos cuando utiliza nuestro sitio web ( <a href="https://movilpayve.com" class="text-emerald-700 underline">https://movilpayve.com</a> ). (el "Servicio"). Al acceder o utilizar el Servicio, usted da su consentimiento para la recopilación, el uso y la divulgación de su información de acuerdo con esta Política de privacidad. Si no da su consentimiento, no acceda ni utilice el Servicio.</p>

    <p class="mt-4">Podemos modificar esta Política de privacidad en cualquier momento sin previo aviso y publicaremos la Política de privacidad revisada en el Servicio. La Política revisada entrará en vigor 180 días después de su publicación en el Servicio y su acceso o uso continuo del Servicio después de ese tiempo constituirá su aceptación de la Política de privacidad revisada. Por lo tanto, le recomendamos que revise periódicamente esta página.</p>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Información que recopilamos:</h2>
    <p class="mt-4">Recopilaremos y procesaremos la siguiente información personal sobre usted:</p>
    <ul class="list-disc list-inside ml-4">
      <li>Nombre</li>
      <li>Correo electrónico</li>
      <li>Celular</li>
      <li>Fecha de nacimiento</li>
      <li>Dirección</li>
      <li>Dirección del trabajo</li>
      <li>Información de pago</li>
    </ul>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Cómo recopilamos su información:</h2>
    <p class="mt-4">Recopilamos/recibimos información sobre usted de la siguiente manera:</p>
    <ul class="list-disc list-inside ml-4">
      <li>Cuando un usuario completa el formulario de registro o envía información personal de otro modo</li>
      <li>Interactúa con el sitio web</li>
      <li>De fuentes públicas</li>
    </ul>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Cómo utilizamos su información:</h2>
    <p class="mt-4">Usaremos la información que recopilamos sobre usted para los siguientes fines:</p>
    <ul class="list-disc list-inside ml-4">
      <li>Marketing/promoción</li>
      <li>Creación de una cuenta de usuario</li>
      <li>Testimonios</li>
      <li>Recopilación de comentarios de los clientes</li>
      <li>Hacer cumplir los términos y condiciones</li>
      <li>Procesamiento de pagos</li>
      <li>Soporte</li>
      <li>Información administrativa</li>
      <li>Publicidad dirigida</li>
      <li>Gestión de pedidos de clientes</li>
      <li>Protección del sitio</li>
      <li>Comentarios de usuario a usuario</li>
      <li>Resolución de disputas</li>
      <li>Gestión de la cuenta de usuario</li>
    </ul>
    <p class="mt-4">Si queremos utilizar su información para cualquier otro fin, le solicitaremos su consentimiento y utilizaremos su información solo después de recibir su consentimiento y, luego, solo para los fines para los que otorgó el consentimiento, a menos que la ley nos obligue a hacer lo contrario.</p>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Cómo compartimos su información:</h2>
    <p class="mt-4">No transferiremos su información personal a ningún tercero sin solicitar su consentimiento, excepto en circunstancias limitadas como se describe a continuación:</p>
    <ul class="list-disc list-inside ml-4">
      <li>Servicio de publicidad</li>
      <li>Patrocinadores</li>
      <li>Agencias de marketing</li>
      <li>Entidades legales</li>
      <li>Análisis</li>
      <li>Servicios de recuperación de pagos</li>
      <li>Recopilación y procesamiento de datos</li>
    </ul>
    <p class="mt-4">Exigimos a dichos terceros que utilicen la información personal que les transferimos solo para el propósito para el que fue transferida y que no la conserven por más tiempo del necesario para cumplir dicho propósito.</p>
    <p class="mt-4">También podemos divulgar su información personal para lo siguiente: (1) para cumplir con la ley, regulación, orden judicial u otro proceso legal aplicable; (2) para hacer cumplir sus acuerdos con nosotros, incluida esta Política de privacidad; o (3) para responder a reclamos de que su uso del Servicio viola los derechos de terceros. Si el Servicio o nuestra empresa se fusiona o se adquiere con otra empresa, su información será uno de los activos que se transfieren al nuevo propietario.</p>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Retención de su información:</h2>
    <p class="mt-4">Retendremos su información personal con nosotros durante 90 días a 2 años después de que las cuentas de usuario permanezcan inactivas o durante el tiempo que la necesitemos para cumplir con los fines para los que se recopiló, tal como se detalla en esta Política de privacidad. Es posible que debamos retener cierta información durante períodos más largos, como el mantenimiento de registros o la presentación de informes de acuerdo con la ley aplicable o por otras razones legítimas, como el cumplimiento de los derechos legales, la prevención del fraude, etc. La información anónima residual y la información agregada, ninguna de las cuales lo identifica (directa o indirectamente), pueden almacenarse indefinidamente.</p>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Sus derechos:</h2>
    <p class="mt-4">Dependiendo de la ley que se aplique, puede tener derecho a acceder y rectificar o borrar sus datos personales o recibir una copia de sus datos personales, restringir u oponerse al procesamiento activo de sus datos, solicitarnos que compartamos (portemos) su información personal a otra entidad, retirar cualquier consentimiento que nos haya proporcionado para procesar sus datos, derecho a presentar una queja ante una autoridad legal y otros derechos que puedan ser relevantes según las leyes aplicables. Para ejercer estos derechos, puede escribirnos a <a href="mailto:info@movilpayve.com" class="text-emerald-700 underline">info@movilpayve.com</a>. Responderemos a su solicitud de conformidad con la legislación aplicable.</p>
    <p class="mt-4">Puede optar por no recibir comunicaciones de marketing directo o la elaboración de perfiles que realizamos con fines de marketing escribiéndonos a <a href="mailto:info@movilpayve.com" class="text-emerald-700 underline">info@movilpayve.com</a>.</p>
    <p class="mt-4">Tenga en cuenta que si no nos permite recopilar o procesar la información personal requerida o retira el consentimiento para procesarla para los fines requeridos, es posible que no pueda acceder o utilizar los servicios para los que se solicitó su información.</p>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Cookies, etc.</h2>
    <p class="mt-4">Para obtener más información sobre cómo las usamos y sus opciones en relación con estas tecnologías de seguimiento, consulte nuestra Política de cookies.</p>

    <h2 class="text-lime-600 text-xl md:text-2xl font-bold font-['Montserrat'] mt-8">Seguridad:</h2>
    <p class="mt-4">La seguridad de su información es importante para nosotros y la protegeremos.</p>
  </div>
</div>


<button [routerLink]="['/landing']" class="floating-button">
  <i class="fas fa-arrow-left"></i>
</button>

<app-contacto-mobile></app-contacto-mobile>
