<div class="w-full h-auto py-10 bg-neutral-900 flex flex-col justify-center items-center gap-8 md:gap-16">
    <div class="w-full max-w-[90%] text-white text-2xl font-bold font-montserrat">¿Cómo funciona nuestro servicio?</div>
    <div class="w-full max-w-[90%] h-auto relative">
        <!-- <div class="w-full h-auto absolute top-[50%] transform -translate-y-1/2 left-[10%] flex flex-col justify-center items-center gap-6">
            <div class="w-[100px] h-[100px] bg-lime-600 rounded-full flex flex-col justify-center items-center gap-2">
                <div class="w-[60px] h-[60px] bg-neutral-900 rounded-full"></div>
            </div>
            <div class="w-full text-white text-sm font-medium font-montserrat text-center">El cliente Realiza el pago</div>
        </div> -->
        <!-- Otros pasos -->
        <div class="w-full md:w-[50%] h-[600px]  rounded-lg">
            <img src="../../../../../../assets/landing/paso a paso movil.png" alt="Slide Image" class="w-full h-full ">

        </div>
    </div>
    <div class="w-full max-w-[90%] h-[218px] px-4 flex flex-col justify-center items-center gap-8">
        <div class="w-full flex flex-col justify-center items-center gap-4">
            <div class="text-neutral-50 text-2xl font-bold font-montserrat">¿Cómo obtener nuestros servicios?</div>
            <div class="text-neutral-50 text-base font-normal font-montserrat">A través de nuestra página web, atención al cliente o nuestro chat en línea</div>
        </div>
    </div>

</div>
<div class="w-full h-2.5 bg-gradient-to-r from-neutral-50 via-lime-600 to-emerald-800"></div>

