<div class="w-full h-2.5 bg-gradient-to-r from-neutral-50 via-lime-600 to-emerald-800"></div>
<div class="w-full h-auto pt-0.5 pb-6 bg-neutral-50 flex flex-col justify-start items-center gap-8">
    <div class="w-[80%] h-6 relative">
        <div class="left-[81px] top-0 absolute text-right text-neutral-50/opacity-20 text-3xl font-bold font-['Montserrat'] tracking-[4.71px]" style="background-image: linear-gradient(to right, rgba(250, 250, 250, 0.8), rgba(81, 174, 50, 0.3), rgba(2, 132, 85, 0.4)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">SERVICIOS</div>
        <div class="left-0 top-[4px] absolute text-emerald-800 text-2xl font-semibold font-['Montserrat']">Nuestros servicios</div>
    </div>
</div>
<div class="bg-neutral-900 w-full h-auto p-5 md:p-10 lg:p-16 flex flex-col justify-start items-start gap-10 md:gap-16 lg:gap-20">
    <div class="w-full h-auto md:h-[400px] lg:h-[700px] px-4 md:px-8 lg:px-12 flex flex-col justify-center items-start gap-6 md:flex-row md:gap-[34px]">
        <div class="w-full md:w-[50%] flex flex-col justify-start items-start gap-6">
            <div class="w-full text-neutral-50 text-2xl font-bold uppercase">Notificaciones de pago</div>
            <div class="w-full text-neutral-50 text-base font-normal">Mantiene a los usuarios informados en tiempo real sobre todas sus transacciones financieras, incluyendo pagos de persona a comercio (P2C), pagos de persona a persona (P2P), transferencias bancarias y operaciones a través de Zelle.</div>
            <div class="w-full text-neutral-50 text-base font-bold mt-5">BENEFICIOS</div>
            <div class="w-full text-neutral-50 text-base font-normal">-Transparencia y Seguridad<br/>-Personalización<br/>-Conveniencia</div>
        </div>
        <!-- <div class="w-full md:w-[50%] h-[200px]  rounded-lg "> -->
            <img src="../../../../assets/landing/image 22.png" alt="Slide Image" class=" rounded-lg">
        <!-- </div> -->
    </div>
    <div class="w-full h-auto md:h-[400px] lg:h-[600px] px-4 md:px-8 lg:px-12 flex flex-col justify-center items-start gap-6 md:flex-row md:gap-[34px]">
        <div class="w-full md:w-[50%] flex flex-col justify-start items-start gap-6">
            <div class="w-full"><span class="text-neutral-50 text-2xl font-bold uppercase">Vuelto</span> <span class="text-neutral-50 text-xl font-light uppercase">(C2p)</span></div>
            <div class="w-full text-neutral-50 text-base font-normal">Permite a los comercios manejar el cambio de manera electrónica (C2P), eliminando la necesidad de efectivo para pequeñas transacciones y reembolsos.</div>
            <div class="w-full text-neutral-50 text-base font-bold mt-5">BENEFICIOS</div>
            <div class="w-full text-neutral-50 text-base font-normal">-Eliminación del Efectivo<br/>-Rapidez y Eficiencia<br/>-Mejora en la Experiencia del Cliente</div>
        </div>
        <!-- <div class="w-full md:w-[50%] h-[200px]  rounded-lg"> -->
            <img src="../../../../assets/landing/image 23.png" alt="Slide Image" class=" rounded-lg">

        <!-- </div> -->
    </div>
    <div class="w-full h-auto md:h-[450px] lg:h-[700px] px-4 md:px-8 lg:px-12 flex flex-col justify-center items-start gap-6 md:flex-row md:gap-[34px]">
        <div class="w-full md:w-[50%] flex flex-col justify-start items-start gap-6">
            <div class="w-full"><span class="text-neutral-50 text-2xl font-bold uppercase">E-Movil Pay</span> <span class="text-neutral-50 text-xl font-light uppercase">(Botón de pago)</span></div>
            <div class="w-full text-neutral-50 text-base font-normal">Los botones de pago digital son una excelente manera de facilitar las transacciones en línea para los clientes. Nuestros bancos aliados ofrecen un servicio en línea que permite realizar una variedad de operaciones bancarias, incluyendo pagos con TDC, TDD, transferencias y pago móvil, que permite realizar operaciones en tiempo real.</div>
            <div class="w-full text-neutral-50 text-base font-bold mt-5">BENEFICIOS</div>
            <div class="w-full text-neutral-50 text-base font-normal">-Accesibilidad<br/>-Seguridad<br/>-Rapidez<br/>-Integración con otros servicios digitales<br/>-Acceso a nuevos mercados</div>
        </div>
            <img src="../../../../assets/landing/image 24.png" alt="Slide Image" class="rounded-lg">

    </div>
</div>
