
<div class="w-full h-auto justify-center items-center">
    <div class="relative">
        <!-- Logo en la esquina superior izquierda -->
        <img class="w-20  ml-10 absolute top-0 left-4" src="../../../../assets/landing/logo.png" />

        <!-- Imagen principal -->
        <div class="w-full md:w-[48rem] lg:w-[70.875rem] h-full md:h-[31.25rem] lg:h-[47.2375rem] relative">
            <img class="w-full h-full" [src]="currentImage" />
        </div>
    </div>
</div>


<app-servicios-mobile></app-servicios-mobile>
<app-funciona-mobile></app-funciona-mobile>
<app-aliados-mobile></app-aliados-mobile>
<app-contacto-mobile></app-contacto-mobile>