<div class="w-full h-[333px] pl-[285.05px] pr-[284.05px] py-14 bg-neutral-900 justify-center items-center inline-flex">
    <div class="self-stretch justify-center items-start gap-[120px] inline-flex">
        <div class="flex-col justify-start items-start gap-10 inline-flex">
            <div class="w-[245.90px] h-[143px] relative">
                <img src="../../../../../../assets/landing/logo.png" alt="Logo" class="w-full h-full object-contain"/>

            </div>
        </div>
        <div class="flex-col justify-center items-start gap-10 inline-flex">
            <div class="text-white text-2xl font-bold font-['Montserrat']">Contáctanos</div>
            <div class="flex-col justify-end items-start gap-2 flex">
                <div class="justify-start items-center gap-6 inline-flex">
                    <div class="w-8 h-8 relative">
                        <img class="w-6 h-6" src="../../../../../../assets/landing/ads_click.png" />
                    </div>
                    <div class="text-neutral-50 text-lg font-normal font-['Montserrat']">Movilpayve.com</div>
                </div>
                <div class="justify-start items-center gap-6 inline-flex">
                    <div class="w-8 h-8 relative">
                        <img class="w-6 h-6" src="../../../../../../assets/landing/mail.png" />
                    </div>
                    <div class="text-neutral-50 text-lg font-normal font-['Montserrat']">info@movilpayve.com</div>
                </div>
                <div class="justify-start items-center gap-6 inline-flex">
                    <div class="p-1 justify-center items-center gap-2.5 flex">
                        <img class="w-6 h-6" src="../../../../../../assets/landing/whatsaap.png" />
                    </div>
                    <div class="text-neutral-50 text-lg font-normal font-['Montserrat']">+58 (412) 463 00 00</div>
                </div>
                <div class="justify-start items-center gap-6 inline-flex">
                    <div class="w-8 h-8 relative">
                        <img class="w-6 h-6" src="../../../../../../assets/landing/call.png" />
                    </div>
                    <div class="text-neutral-50 text-lg font-normal font-['Montserrat']">+58 (212) 771 90 76</div>
                </div>
            </div>
        </div>
        <div class="flex-col justify-center items-start gap-10 inline-flex">
            <div class="text-white text-2xl font-bold font-['Montserrat']">Información</div>
            <div class="flex-col justify-end items-start gap-2 flex">
                <div class="justify-start items-center gap-6 inline-flex">
                    <div class="text-neutral-50 text-lg font-normal font-['Montserrat']">Políticas de privacidad</div>
                </div>
            </div>
        </div>
    </div>
</div>