<div class="w-full h-auto px-4 py-16 bg-neutral-50 flex flex-col justify-center items-center gap-8">
    <div class="w-full max-w-[90%] flex flex-col justify-center items-center gap-16">
        <div class="w-full h-auto relative">
            <div class="w-[50%] h-auto left-[25%] top-[-40px] absolute">
                <img src="../../../../../../assets/landing/logo.png" class="w-full h-full">
            </div>
        </div>
        <div class="w-full flex flex-col justify-center items-center gap-8">
            <div class="text-emerald-700 text-2xl font-bold font-montserrat">Contáctanos</div>
            <div class="flex flex-col justify-end items-start gap-4">
                <div class="flex items-center gap-4">
                    <div class="w-8 h-8 relative">
                        <img class="w-6 h-6" src="../../../../../../assets/landing/ads_click (1).png" />
                    </div>
                    <div class="text-emerald-700 text-base font-normal font-montserrat">Movilpayve.com</div>
                </div>
                <div class="flex items-center gap-4">
                    <img class="w-6 h-6" src="../../../../../../assets/landing/mail (1).png" />
                    <div class="text-emerald-700 text-base font-normal font-montserrat">info@movilpayve.com</div>
                </div>
                <div class="flex items-center gap-4">
                    <img class="w-6 h-6" src="../../../../../../assets/landing/Frame 45 (1).png" />
                    <div class="text-emerald-700 text-base font-normal font-montserrat">+58 (412) 463 00 00</div>
                </div>
                <div class="flex items-center gap-4">
                    <img class="w-6 h-6" src="../../../../../../assets/landing/call (2).png" />
                    <div class="text-emerald-700 text-base font-normal font-montserrat">+58 (212) 771 90 76</div>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-col justify-center items-center gap-8">
            <div class="text-emerald-700 text-2xl font-bold font-montserrat">Información</div>
            <div class="flex flex-col justify-end items-start gap-4">
                <a  [routerLink]="['/politicas']" class="text-emerald-700 text-base font-normal font-montserrat">Políticas de privacidad</a>
            </div>
        </div>
    </div>
</div>
