<div class="menu-wrapper bg-black">
    <div class="lg:w-[94.5rem] h-auto px-2 py-2.5 flex justify-start items-center gap-6 lg:gap-12 flex-wrap">
        <a [routerLink]="['/landing']" class="cursor-pointer">
            <img src="../../../../assets/landing/logo.png" alt="Home Logo" class="w-12 md:w-16 lg:w-24 h-12 md:h-16 lg:h-24 object-contain" />
        </a>
    </div>
</div>

<div class="w-full">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="md:ml-[1rem] lg:ml-[5rem] mt-10 md:mt-[5rem] lg:mt-[8rem]">
            <div class="md:w-[18.75rem] lg:w-[25rem] h-[36.1875rem] flex-col justify-start items-start gap-10 md:gap-[0.9375rem] lg:gap-[1.25rem] inline-flex">
                <div class="h-auto relative">
                    <img src="../../../../assets/landing/logo.png" alt="Logo" class="w-full h-full object-contain"/>
                </div>
                <div class="w-full md:w-[31.25rem] lg:w-[34.375rem]">
                    <span class="text-emerald-700 text-xl md:text-2xl font-bold font-['Montserrat']">Líder en soluciones de pago integradas en Venezuela.</span>
                    <span class="text-neutral-500 text-xl md:text-2xl font-normal font-['Montserrat']"> Nos especializamos en el</span>
                    <span class="text-emerald-700 text-xl md:text-2xl font-bold font-['Montserrat']"> diseño y comercialización</span>
                    <span class="text-neutral-500 text-xl md:text-2xl font-normal font-['Montserrat']"> de herramientas innovadoras que facilitan las transacciones financieras,</span>
                    <span class="text-emerald-700 text-xl md:text-2xl font-bold font-['Montserrat']"> adaptándose a las necesidades de cada negocio.</span>
                </div>
            </div>
        </div>
        <div>
            <div class="w-full h-[47.25rem] relative">
                <img class="w-full md:w-[48rem] lg:w-[70.875rem] h-full md:h-[31.25rem] lg:h-[47.2375rem] left-0 md:left-[-3.125rem] lg:left-0 top-0 absolute" [src]="currentImage" />
            </div>
        </div>
    </div>
</div>
<div class="lg:w-full h-[12.5rem] relative bg-white">
    <div class="md:w-full h-2.5 left-0 top-0 absolute bg-gradient-to-r from-neutral-50 via-lime-600 to-emerald-800"></div>
    <div class="absolute left-1/2 transform -translate-x-1/2 top-[2rem] text-center lg:text-right lg:text-9xl md:text-6xl font-bold font-['Montserrat'] tracking-[0.625rem] lg:tracking-[1.28rem]" style="background-image: linear-gradient(to right, rgba(250, 250, 250, 0.8), rgba(81, 174, 50, 0.3), rgba(2, 132, 85, 0.4)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">CONDICIONES</div>
    <div class="left-1/2 transform -translate-x-1/2 lg:left-[5rem] lg:translate-x-0 top-[3.125rem] lg:top-[4.4375rem] absolute text-emerald-800 lg:text-[4rem] md:text-[2.75rem] font-semibold font-['Montserrat'] text-center lg:text-left">Términos y condiciones</div>
</div>
<div class="container mx-auto px-4 md:px-8 lg:px-12 py-8">
    <div class="max-w-5xl mx-auto bg-white p-4 md:p-8 lg:p-12 shadow-md rounded-lg">
        <h1 class="text-emerald-700 text-2xl md:text-3xl lg:text-4xl font-bold font-['Montserrat'] text-center mb-4">Política de cookies</h1>
        <p class="text-neutral-500 text-sm md:text-base lg:text-lg font-normal font-['Montserrat'] text-center">Última actualización el 01-Jun-2024</p>
        <p class="text-neutral-500 text-sm md:text-base lg:text-lg font-normal font-['Montserrat'] text-center mb-8">Fecha de entrada en vigor el 01-Jun-2024</p>
  
        <div class="text-black text-sm md:text-base lg:text-lg font-normal font-['Montserrat'] space-y-4">
            <h2 class="text-lime-600 text-lg md:text-xl lg:text-2xl font-bold font-['Montserrat'] mt-8">¿Qué son las cookies?</h2>
            <p>Esta Política de cookies explica qué son las cookies y cómo las usamos, los tipos de cookies que usamos, es decir, la información que recopilamos mediante cookies y cómo se usa esa información, y cómo administrar la configuración de las cookies.</p>
            <p>Las cookies son pequeños archivos de texto que se utilizan para almacenar pequeños fragmentos de información. Se almacenan en su dispositivo cuando se carga el sitio web en su navegador. Estas cookies nos ayudan a hacer que el sitio web funcione correctamente, hacerlo más seguro, brindar una mejor experiencia de usuario y comprender cómo funciona el sitio web y analizar qué funciona y dónde necesita mejoras.</p>

            <h2 class="text-lime-600 text-lg md:text-xl lg:text-2xl font-bold font-['Montserrat'] mt-8">¿Cómo utilizamos las cookies?</h2>
            <p>Como la mayoría de los servicios en línea, nuestro sitio web utiliza cookies propias y de terceros para varios propósitos. Las cookies propias son principalmente necesarias para que el sitio web funcione correctamente y no recopilan ninguno de sus datos de identificación personal.</p>
            <p>Las cookies de terceros que se utilizan en nuestro sitio web sirven principalmente para comprender el funcionamiento del sitio web, cómo interactúa con él, mantener seguros nuestros servicios, proporcionar anuncios que sean relevantes para usted y, en general, brindarle una mejor experiencia de usuario y ayudar a acelerar sus futuras interacciones con nuestro sitio web.</p>

            <h2 class="text-lime-600 text-lg md:text-xl lg:text-2xl font-bold font-['Montserrat'] mt-8">Tipos de cookies que utilizamos</h2>
            <ul class="list-disc list-inside ml-4">
                <li><strong>Necesarias</strong>: Las cookies necesarias son cruciales para las funciones básicas del sitio web y el sitio web no funcionará de la forma prevista sin ellas. Estas cookies no almacenan ningún dato de identificación personal.
                    <ul class="list-none ml-4">
                        <li>Duración de la cookie: 1 año</li>
                        <li>Descripción: CookieYes establece esta cookie para recordar las preferencias de consentimiento de los usuarios, de modo que se respeten sus preferencias en las siguientes visitas a este sitio. No recoge ni almacena ninguna información personal sobre los visitantes del sitio.</li>
                    </ul>
                </li>
                <li><strong>Analítica</strong>: Las cookies analíticas se utilizan para comprender cómo interactúan los visitantes con el sitio web. Estas cookies ayudan a proporcionar información sobre métricas el número de visitantes, el porcentaje de rebote, la fuente de tráfico, etc.
                    <ul class="list-none ml-4">
                        <li>Duración de la cookie: 1 año</li>
                        <li>Descripción: Godaddy establece esta cookie para recopilar datos agregados y anónimos para mejorar el rendimiento del sitio.</li>
                        <li>Duración de la cookie: 30 minutos</li>
                        <li>Descripción: Godaddy establece esta cookie para recopilar datos agregados y anónimos para mejorar el rendimiento del sitio.</li>
                    </ul>
                </li>
            </ul>

            <h2 class="text-lime-600 text-lg md:text-xl lg:text-2xl font-bold font-['Montserrat'] mt-8">Administrar preferencias de cookies</h2>
            <p>Puede cambiar sus preferencias de cookies en cualquier momento haciendo clic en el botón de arriba. Esto le permitirá volver a visitar el banner de consentimiento de cookies y cambiar sus preferencias o retirar su consentimiento de inmediato.</p>
            <p>Además de esto, diferentes navegadores proporcionan diferentes métodos para bloquear y eliminar las cookies utilizadas por los sitios web. Puede cambiar la configuración de su navegador para bloquear/eliminar las cookies. A continuación, se enumeran los enlaces a los documentos de soporte sobre cómo administrar y eliminar las cookies de los principales navegadores web.</p>
            <ul class="list-disc list-inside ml-4">
                <li><a href="https://support.google.com/accounts/answer/32050" class="text-emerald-700 underline">Chrome</a></li>
                <li><a href="https://support.apple.com/en-in/guide/safari/sfri11471/mac" class="text-emerald-700 underline">Safari</a></li>
                <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" class="text-emerald-700 underline">Firefox</a></li>
                <li><a href="https://support.microsoft.com/en-us/topic/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d" class="text-emerald-700 underline">Edge</a></li>
            </ul>

            <p>Si utiliza otro navegador web, visite los documentos de soporte oficiales de su navegador.</p>
        </div>
    </div>
</div>
<app-contacto></app-contacto>